<div xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" class="main-sidebar sidebar-style-2">

    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">
                <img alt="image" th:src="@{/backend/img/logo.png}" class="header-logo">
                <span class="logo-name">Coding</span>
            </a>
        </div>
        <ul class="sidebar-menu">

            <li class="menu-header">
                <span th:text="#{sidebar_menu}"></span>
            </li>

            <li id="app-annonce" class="dropdown">
                <a th:href="@{/dashboard/announcement/allAnnouncements}" class="nav-link">
                    <i data-feather="clipboard"></i>
                    <span>Annonces</span>
                </a>
            </li>

            <li id="app-profile" class="dropdown" th:if="${user.serviceProvider}">
                <a th:href="@{/dashboard/service_provider/profile}" class="nav-link">
                    <i data-feather="user"></i>
                    <span>Profile</span>
                </a>
            </li>

            <li id="app-serviceProvider" class="dropdown" th:if="${user.actuator || user.admin}">
                <a th:href="@{/dashboard/admin/service_provider/allServiceProviders}" class="nav-link">
                    <i data-feather="truck"></i>
                    <span>Prestataires</span>
                </a>
            </li>

            <li id="app-client" class="dropdown" th:if="${user.actuator || user.admin}">
                <a th:href="@{/dashboard/admin/customer/allCustomers}" class="nav-link">
                    <i data-feather="users"></i>
                    <span>Clients</span>
                </a>
            </li>

            <li id="app-areas" class="dropdown" th:if="${user.actuator || user.admin}">
                <a th:href="@{/dashboard/admin/activity_area/allAreas}" class="nav-link">
                    <i data-feather="dollar-sign"></i>
                    <span>Secteur d'activités</span>
                </a>
            </li>

        </ul>
    </aside>

</div>