<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <!--Header ============================================= -->
    <th:block th:replace="backend/fragments/fragment_head(#{forgotPass_page_title})" />

    <body>
        <div class="loader"></div>
        <div id="app">
            <section class="section">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h4 th:text="#{forgotPass_card_title}"></h4>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted" th:text="#{forgotPass_msg}"></p>
                                    <form method="POST" th:action="@{/account/forgot-password}">
                                        <div class="form-group">
                                            <label for="email" th:text="#{email}"></label>
                                            <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4" th:text="#{button_send}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="mb-4 text-muted text-center">
                                <a th:href="@{/account/login}" th:text="#{register_connexion}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Scripts ============================================= -->
        <th:block th:replace="backend/fragments/fragment_script :: script"/>
    </body>

</html>